@tailwind base;
@tailwind components;
@tailwind utilities;

/* red coler: #d62828 */

body {
  background-color: #003049;
  /* padding-left: 6.125rem;
  padding-right: 6.125rem; */
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Poppins' , 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@layer base {
  li {
    @apply px-5;
    @apply cursor-pointer;
  }
}
